body {
    margin: auto;
    width: 100%;
    font-family: "Copperplate Gothic Bold", sans-serif;
}

#youtubeLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 20%;
    height: 20%;
    -webkit-filter: drop-shadow(5px 5px 5px #222 );
    filter: drop-shadow(5px 5px 5px #222);
}

form {
    display: block;
    margin-top: 5%;
}

input[type=text] {
    display: inline-block;
    width: 35%;
    padding: 15px 22px;
    margin-left: 27%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 3px #191919;
    border: none;
    outline: none !important;
}

label {
    display: block;
    font-weight: bold;
    margin-left: 27%;
    font-size: 120%;
}

input[type=submit] {
    display: inline-block;
    width: 6%;
    padding: 15px 22px;
    margin-left: 10px;
    margin-top: 5px;
    color: white;
    background-color: black;
    border: none;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #191919;
    outline: none !important;
}

input[type=submit]:hover {
    background-color: #191919;
    filter: brightness(120%);
}

/*
    RESULT SEARCH STYLE
 */

.divResult {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    width: 40%;
    padding: 10px 15px;
    border-radius: 15px;
    background-color: black;
    box-shadow: 5px 5px 5px #191919;
}

.divResult > p {
    font-size: 15px;
    color: white;
    text-align: center;
    margin-left: 5px;
}

table {
    table-layout: fixed;
    width: 60%;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    border: 7px solid black;
    padding-bottom: 10px;
}

th {
    background-color: black;
    color: white;
}

td {
    width: 25%;
    text-align: center;
}

#channelImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-radius: 20px;
    margin-top: 10px;
}

#saveButton {
    background-color: black;
    padding: 15px 22px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 10px;
}

#saveButton:hover {
    background-color: #191919;
    filter: brightness(120%);
}